html { overflow: hidden; }
body {
  font: 14pt;
  background: rgba(19,40,50,1);
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0 0;
  text-align: center;
  color: white;
}
#wavedisplay {
  display: none;
}
#analyser {
  background: #505050;
  width: 70%;
  height: 3%;
  position: absolute;
}
#analyzerhide {
  z-index: +1;
  width: 70%;
  height: 3.1%;
  position: absolute;
}
#controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 20%;
  width: 100%;
}
#record { height: 10vh; width:10vh; margin: 0 auto 0 auto;}
#record.recording {
  background-image:"img/btn_record_inactive.png";
}
#save, #save img { height: 3vh;width:3vh; margin: 0 auto 0 auto; display: none;}
#save { opacity: 0.25;}
#save[download] { opacity: 1;}
#volume-analyer {
  width: 100%;
  height: 3%;
  margin-top: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.volume {
  text-align: right;
  font-size: 1.4vh;
  width: 100%;
  opacity: 0.6;
  height: 1px;
  position: relative;
}
#chronotime {
  font-size: 3.5vh;
}
#recordtime {
  font-size: 2.2vh;
}
#inputlevel {
  font-size: 1.5vh;
}
#waiting {
  height: 65%;
  width: 100%;
}
button {
  border: 1px black;
}
/*@media (orientation: landscape) {
  body { flex-direction: row;}
  #controls { flex-direction: column; height: 100%; width: 10%;}
}*/
